body{
  background-color: black;
}
.main{
  width: 100%;
  height: 100vh;
  background-color: black;
  color: chocolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}